<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>es.aeat.repositories.maven</id>
      <password>&#103;&#104;&#112;&#95;&#76;&#101;&#97;&#52;&#76;&#114;&#72;&#55;&#90;&#103;&#102;&#97;&#70;&#103;&#52;&#85;&#90;&#50;&#89;&#89;&#68;&#98;&#111;&#53;&#77;&#65;&#76;&#97;&#107;&#69;&#48;&#86;&#70;&#109;&#85;&#88;</password>
      <!--password>&#103;&#104;&#112;&#95;&#80;&#116;&#71;&#84;&#87;&#90;&#98;&#69;&#49;&#52;&#67;&#107;&#53;&#75;&#118;&#97;&#72;&#85;&#108;&#79;&#70;&#68;&#115;&#109;&#104;&#75;&#71;&#90;&#99;&#74;&#50;&#103;&#105;&#56;&#110;&#82;</password-->
    </server>
  </servers>
</settings>
